


/*-------------------------------------------------- Main  ---------------------------------------*/


.main-div{
    display: flex;
    justify-content: space-evenly;
    padding:1rem;
}



/*---------------------------------------- Main Card ---------------------------------------*/


.main_card{
    width:50rem;
    margin-top:5.5rem;
    border-radius: 10px;
    border: none;
    margin-bottom: 4rem;
    box-shadow: -10px 10px 20px 8px rgba(0, 0, 0, 0.3);
    background-image: inherit;
}
.main-card-content{
    padding: 0;
    padding:30px;
}
.card-title{
    margin-top:30px;
    margin-bottom:20px;
    font-size: 30px;
}
.card-text{
    margin-bottom: 40px;
    font-size: 16px;
}
.card-img-top{
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main_card .card-img-top{
    min-height: 28rem;
    max-height: 30rem;
    object-fit: cover;
    object-position: center;
}




/*  All Blogs Css */
.all-blog-container{
    padding: 0;
    margin:0 5% 0 5%;

}




/*----------------------------------- BLog Card Css ----------------------------------*/


.blog-card{
    margin:2%;
    border: none;
    cursor: pointer;
}
.img{
    overflow: hidden ;
    border-radius: 5px;


}
.blog-body{
    margin:20px;
}
.blog-card img{
    min-height: 23rem;
    max-height: 23rem;
    object-fit: cover;
    object-position:center;
    transition: transform .4s;
}
.blog-card:hover img{
    transform: scale(1.2);
    transform-origin: 50% 50%;
    opacity: 0.5;
}
.blog-text{
    padding:0;
    margin: 0;
    opacity: 0.7;
}
.meta-title{
    margin-top: -13rem;
}
#blog-meta-title{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:13rem
}




/*------------------------ Trending content ------------------------------*/


.trending-title{
    font-weight:bold;
    margin: 0;
}
.trending-body{
    padding:0 0 0 1rem;
}
.update{
    margin: 0;
}
.trending-img{
    width: 9rem;
    height: 7rem;
    object-fit: cover;

}
.trending-container{
    margin-bottom:2rem;
}

.trending-card{
    border: none;
    border-radius: 0px;
    border-bottom: px solid gray;
    width:30rem;
    display:flex;
    align-items:center;
    padding-bottom:1rem;
}
.trending-card h3{
    padding: 10px;
    border-bottom: 3px solid rgba(49, 125, 248, 0.924);
}
.trending-content{
    display: flex;
    align-items: center;
}


/* ------------------------------------------ Contributor --------------------------------------- */
.all-contributors{
    display:flex;
    align-items: center;
    margin:5rem;
}
.contributor{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:5rem;
}
.contributor-image img{
    width:10rem;
    height:10rem;
    border-radius: 50%;
    object-fit: cover;

}
.contributor-body{
    margin:2rem;
}
.swip-icon{
    min-width: 4rem;
    height: 4rem;
    background-color: rgb(174, 174, 174);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ---------------------------------------- Meadia Queries ----------------------------------------------- */


/*-------------------------------------------------- For screen below 1200px ---------------------------------------------------- */

@media (max-width:1200px) {
    
    .main-card-title{
        font-size: 1.6rem;
    }
    .main-card-des{
        font-size: 0.9rem;
    }
    .blog-card .img{
        max-height: 16rem;
    }
    
}


/*-------------------------------------------------- For screen below 900px ---------------------------------------------------- */

@media (max-width:900px) {
    .update small{
        font-size: 15px;
    }
    
    .trending-box{
        display: block;
    }
    .trending-title{
        font-size: 1.3rem;
    }
    .main-div{
        display: block;
    }
    .main_card{
        width: auto;
        margin-bottom: 3.5rem;
    }
    .trending-container{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .trending-container .col{
        width: 40%;
    }
    .trending-container .col-md-8{
        width: 60%;
    }
    
    .trending-card{
        width: auto;
    }
    .trending-card h3{
        font-size: 50px;
        margin-bottom: 2rem;
    }
    .trending-img{
        min-height: 13rem;
        width: 20rem;
    }
    .main_card{
        margin-top: 2rem;
    }
    .all-blog-container{
        display: flex;
        flex-wrap: wrap;
        max-width: 900px;
    }
    .all-blog-container .col{
        width: 100%;
        
    }
    .blog-card .img, .blog-card img{
        min-height: 26rem;
        max-height: 26rem;
    }
    
    
    
    
}

/*-------------------------------------------------- For screen below 500px ---------------------------------------------------- */


@media (max-width:500px){
    .main_card .card-img-top{
        min-height: 18rem;
    }
    .trending-title{
        font-size: 0.9rem;
    }
    .update small{
        font-size: 12px;
    }
    .trending-img{
        min-height: 8rem;
    }
    .card-title{
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 24px;
    }
    .card-text{
        margin: 0px;
        font-size: 12px;
    }
    .blog-card .img, .blog-card img{
        min-height: 22rem;
        max-height: 22rem;
    }
    .blog-title{
        font-size: 1rem;
    }
    .blog-text{
        font-size: 0.8rem;
    }
    
}


/*-------------------------------------------------- For screen below 340px ---------------------------------------------------- */


@media (max-width:340px){
    .trending-title{
        font-size: 0.6rem;
    }
    .update small{
        font-size: 8px;
    }
    .card-text{
        font-size: 8px;
    }
    .trending-card h3{
        font-size: 2.5rem;
    }
    .blog-card .img, .blog-card img{
        min-height: 16rem;
        max-height: 16rem;
    }
    .blog-title{
        font-size: 0.85rem;
    }
    .blog-text{
        font-size: 0.6rem;
    }
}

